{% extends "index.html" %}

{% block index %}


    <h1>Edit page</h1>



{% if error %}
    <div class="alert alert-danger" role="alert">
    {{error}}
  </div>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <div class='container  mx-auto border-bottom shadow-sm p-3 mb-5 bg-body-tertiary rounded'>

        <div class="mb-2">
          <label  class="form-label">Type</label>
          <input type="text" class="form-control" name='type'value={{obj.type}} >
        </div>
        <div class="mb-2">
          <label  class="form-label">plate no</label>
          <input type="text" class="form-control" name="plate_no" value={{obj.plate_no}} >
        </div>



        <div class='pposition-absolute top-50 start-50  '>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
  </form>

{% endblock index %}
